mixin pokemonCard(pokemon)

    div.card
        div.name=pokemon.name
            div.hp HP
                div.numberhp=pokemon.numberhp
                img.icon(src=pokemon.icon)
        div.image
            img(src=pokemon.image)
        div.power
            div.attack1=pokemon.attack1
            div.energycard
                img.energy(src=pokemon.energycard)
            div.damage=pokemon.damage
        div.power
            div.attack2=pokemon.attack2
            div.damage2=pokemon.damage2
            div.energycard2
                img.energy2(src=pokemon.energycard2)
                img.energy3(src=pokemon.energycard)
        div.randomline
        div.weakness
            div.weaknessword weakness
            img.energy4(src=pokemon.energy4)
        div.resistance resistance
            img.energy5(src=pokemon.energy5)
